<!-- All the files that are required -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/custom.css" />

<!-- Where all the magic happens -->

<!DOCTYPE html>
<html lang="en">
	<head>
    	<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />
    	<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/custom.css" />
  	</head>
  
	<div class="alert alert-danger" ng-show="error">
		There was a problem logging in. Please try again.
	</div>

	<div class="text-center" style="padding:50px 0">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="panel panel-primary">
						<div class="panel-heading login-panel"> Already have an account? </div>
						<div class="panel-body">
						<form id="login-form" class="text-left" role="form" ng-submit="login()">
							<div class="form-group"> 
								<input type="text" class="form-control" id="username" name="username" placeholder="Username" ng-model="credentials.username"/>
							</div>
							
							<div class="form-group">
								<input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="credentials.password"/>
							</div>
							
							<div class="form-group login-group-checkbox">
					        	<input type="checkbox" id="lg_remember" name="lg_remember" value="1"/>
					        	<label for="lg_remember">Remember me · </label>
					    		
					    		<a class="forgot" href="/account/begin_password_reset">
					        		Forgot password?
					    		</a>
					    	</div> 	
							<button type="submit" class="btn btn-primary btn-block submit-button">Log in</button>					
						</form>				
					</div>		
				</div>
			</div>
		</div>	
	</div>
		<!--  
			<div class="login-form-1">
				<form id="login-form" class="text-left" role="form" ng-submit="login()">
					<div class="main-login-form">
					   <div class="login-group">
							<div class="form group">
								<label for="username">Username:</label> 
								<input type="text" class="form-control" id="username" name="username" ng-model="credentials.username"/>
							</div>
							
							<div class="form-group">
								<label for="password">Password:</label> 
								<input type="password" class="form-control" id="password" name="password" ng-model="credentials.password"/>
							</div>
							
							<div class="form-group login-group-checkbox">
					        	<input type="checkbox" id="lg_remember" name="lg_remember" value="1"/>
					        	<label for="lg_remember">Remember me · </label>
					    		
					    		<a class="forgot" href="/account/begin_password_reset">
					        		Forgot password?
					    		</a>
					    	</div> 	
				    	</div>
						<button type="submit" class="btn btn-primary">Login</button>
					</div>
				</form>
			</div>
		</div>
		-->
	</div>
</html>